:root {
--black: 000000;
--light-text: 333333;
--grey-background-list: EEEEEE;
--grey-rating: 666666;
--grey-rectangle: E5E5E5;
--grey-checkbox-block: 6A6A6A;
--grey: F2F2F2;
--grey-hover: EBEBEB;
--blue: 81B3D2;
--blue-hover: 669EC0;
--blue-touch: 5496BD;
--brown: 766357;
--brown-hover: 604E43;
--brown-touch: 503E33;
--white: FFFFFF;
}
